<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Document00</title>
</head>
<body>
    {{#each rows}}
  <div>
    <h1>{{id}}</h1>
    <p>{{nombre}}</p>
    <img src="{{img}}">
    <p>{{direccion}}</p>
    <p>{{horario}}</p>
    <p>{{geom}}</p>
  </div>
{{/each}}

<p>-----</p>


        <section class="py-5 seccion-tienda-admin">
            <div class="container px-4 px-lg-5 mt-5">
                <div id="contenedor-general"
                    class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">



                </div>
            </div>
</body>
</html>