<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/stylesA.css">
    <script src="https://kit.fontawesome.com/9bf55c7eb1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Document</title>
</head>

<body>

    {{> navbar}}

    {{!-- Alertas --}}

    {{#if messages.success_msg}}
                    <script>
        Swal.fire({
            icon: 'success',
            title: 'Listo!',
            html: '<ul><li>{{messages.success_msg}}</li></ul>'
        });
        </script>
        {{/if}}
        
    {{#if messages.success_msg2}}
                    <script>
        Swal.fire({
            icon: 'success',
            title: 'Listo!',
            html: '<ul><li>{{messages.success_msg2}}</li></ul>'
        });
        </script>
        {{/if}}

    {{#if messages.success_msg3}}
                    <script>
        Swal.fire({
            icon: 'success',
            title: 'Listo!',
            html: '<ul><li>{{messages.success_msg3}}</li></ul>'
        });
        </script>
        {{/if}}    
    <main>

        <div class="control-panel">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" onclick="" data-bs-toggle="modal" data-bs-target="#ex">
                Crear Nueva Ubicación
            </button>
        </div>

        <!-- Modal Editar-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-editar">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar
                            Ubicación</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="cont-edicion-productos">
                        <div class="form-editar-prod">
                            <form id="formulario1" action="/mantenedor2" method="POST"
                                class="needs-validation form-editar-prod">
                                <div id="formulario">
                                    <div class="form-group">
                                        <label for="in_nombre">Name:</label>
                                        <input type="text" id="in_nombre" name="nombre" class="form-control"
                                            placeholder="Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="in_img">Imagen:</label>
                                        <input type="text" id="in_img" name="img" class="form-control"
                                            placeholder="Imagen" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="in_direccion">Dirección:</label>
                                        <input type="text" id="in_direccion" name="direccion" class="form-control"
                                            placeholder="Dirección" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="in_horario">Horario:</label>
                                        <input type="text" id="in_horario" name="horario" class="form-control"
                                            placeholder="Horario" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="in_coordenadas">Coordenadas:</label>
                                        <input type="text" id="in_coordenadas" name="geom" class="form-control"
                                            placeholder="Coordenadas" required pattern="-?\d{1,3}\.\d{4},\s?-?\d{1,3}\.\d{4}" title="Please enter the coordinates in the format: -71.1234, -33.1234">
                                    </div>
                                    <div class="form-group">
                                        <label for="in_categoria">Categoria:</label>
                                        <select class="form-select form-edit" id="in_categoria" name="categoria"
                                            placeholder="Categoria" required>
                                            <option value="">Seleccione un categoría</option>
                                            <option value="1">Museos</option>
                                            <option value="2">Parques y Plazas</option>
                                            <option value="3">Servicios</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="in_creador">Creador:</label>
                                        <input type="text" id="in_creador" name="creador" class="form-control"
                                            placeholder="Creador" required value="{{ user.id }}">
                                    </div>

                                    <div class="modal-footer">
                                        <button id="btn_edit" class="btn btn-warning">
                                            <span class="material-symbols-outlined">Editar</span>
                                        </button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>

                            </form>
                            <div class="btn-editar-modal">
                                <!-- ESTE BOTON ES CREADO MEDIANTE SCRIPT (mainAdmin.js) -->
                                <!-- <button class="btn btn-outline-warning" onclick="modificarProducto(id)">Modificar</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Agregar Nueva Ubicación -->
        <div class="modal fade" id="ex" tabindex="-1" aria-labelledby="exLabel" aria-hidden="true">
            <div class="modal-dialog modal-agregar">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exLabel">Crear
                            Nueva Ubicación</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="cont-edicion-productos">
                        <div class="form-editar-prod">
                            <form id="formulario" action="/mantenedor2" method="POST"
                                class="needs-validation form-editar-prod">
                                <div id="formulario">
                                    <div class="form-group">
                                        <label for="in_nombre">Name:</label>
                                        <input type="text" id="in_nombre" name="nombre" class="form-control"
                                            placeholder="Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="in_img">Imagen:</label>
                                        <input type="text" id="in_img" name="img" class="form-control"
                                            placeholder="Imagen" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="in_direccion">Dirección:</label>
                                        <input type="text" id="in_direccion" name="direccion" class="form-control"
                                            placeholder="Dirección" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="in_horario">Horario:</label>
                                        <input type="text" id="in_horario" name="horario" class="form-control"
                                            placeholder="Horario" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="in_coordenadas">Coordenadas:</label>
                                        <input type="text" id="in_coordenadas" name="geom" class="form-control"
                                            placeholder="Coordenadas" required pattern="-?\d{1,3}\.\d{4},\s?-?\d{1,3}\.\d{4}" title="Please enter the coordinates in the format: -71.1234, -33.1234">
                                    </div>
                                    <div class="form-group">
                                        <label for="in_categoria">Categoria:</label>
                                        <select class="form-select form-edit" id="in_categoria" name="categoria"
                                            placeholder="Categoria" required>
                                            <option value="">Seleccione un categoría</option>
                                            <option value="1">Museos</option>
                                            <option value="2">Parques y Plazas</option>
                                            <option value="3">Servicios</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="in_creador">Creador:</label>
                                        <input type="text" id="in_creador" name="creador" class="form-control"
                                            placeholder="Creador" required value="{{ user.id }}">
                                    </div>


                                    <div class="modal-footer">
                                        <button id="btn_add" class="btn btn-primary">
                                            <span class="material-symbols-outlined">Agregar</span>
                                        </button>
                                        <button type="button" class="btn
                                        btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    </div>

                                </div>

                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <section class="py-5 seccion-tienda-admin">
            <div class="container px-4 px-lg-5 mt-5">
                <div id="contenedor-general"
                    class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {{#each museums}}
                    <div class="col mb-5 producto{{id}}">
                        <div class="card h-100">
                            <img class="card-img-top img{{id}}" id="in_img" src="{{img}}" />
                            <!-- Product details-->
                            <div class="card-body p-3">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" id="in_name">{{nombre}}</h5>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <!-- Product price-->
                                <p><b>Dirección:</b></p>
                                <p id="in_direccion">{{direccion}}</p>
                                <p><b>Horario:</b></p>
                                <p id="in_horario">{{horario}}</p>
                                <p><b>Coordenadas:</b></p>
                                <p id="in_coordenadas">{{geometry}}</p>
                                {{!-- <p>{{idcategoria}}</p> --}}
                                <p><b>Tipo:</b></p>
                                <p>{{tipo}}</p>
                                <p id="in_categoria" hidden>{{idcategoria}}</p>
                                {{!-- <p>{{user_id}}</p> --}}
                                <p id="in_creador" hidden>{{idcreador}}</p>
                                <p><b>Creador:</b></p>
                                <p>{{user_name}}</p>
                                <div class="text-center botones-card"><button id="boton-ql{{id}}"
                                        class="btn btn-warning mt-auto" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" href="#"
                                        onclick="editar({{id}})">Editar</button><button type="button"
                                        class="btn btn-danger"
                                        onclick="location.href='/mantenedor2/{{id}}?_method=delete'"><i
                                            class="fa-solid fa-trash"></i></button></div>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>

    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="/js/cards.js"></script>
    <script>
        function editar(id) {
            const card = document.querySelector(`.producto${id}`);
            const name = card.querySelector("#in_name").textContent;
            const img = card.querySelector("#in_img").src;
            const direccion = card.querySelector("#in_direccion").textContent;
            const horario = card.querySelector("#in_horario").textContent;
            const coordenadas = card.querySelector("#in_coordenadas").textContent;
            const categoria = card.querySelector("#in_categoria").textContent;
            const creador = card.querySelector("#in_creador").textContent;
            document.querySelector("#in_nombre").value = name;
            document.querySelector("#in_img").value = img;
            document.querySelector("#in_direccion").value = direccion
            document.querySelector("#in_horario").value = horario;
            document.querySelector("#in_coordenadas").value = coordenadas;
            document.querySelector("#in_categoria").value = categoria;
            document.querySelector("#in_creador").value = creador;
            const form = document.getElementById("formulario1");
            form.action = `/mantenedor2/${id}?_method=put`
        }

    </script>
    <script src="/js/alerts.js"></script>
</body>

</html>